.order{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.order a{
    text-decoration: none;
    background: #333;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}

.radio-buttons {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    margin: 10px;
}